*{
    margin: 0;
    padding: 0;
    font-family: 'Frijole', cursive;
    box-sizing: border-box;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(nft/astronaut2.png);
    background-position: center;
    background-size: cover;
    position:absolute;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between ;
    align-items: center;
}
nav img{
    width: 200px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: gold;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #343f4f;
    height: 100%;
    width: 100%;
    margin: auto;
}
<!----- gallery ----->

.gallery{
    background-image: linear-gradient(rgba(0, 213, 255, 0.7),rgba(0, 26, 130, 0.7));
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h4{
    font-size: 2.5rem;
    margin: 2rem 0;
    color: white;
    text-align: center;
}
.accordion{
   margin-bottom: 14px;
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
    text-align: center;
}
.accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header{
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.accordion-item-header::after{
    /*content: "\002B";*/
    content: "\25BE";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    transition: transform 0.2s ease-in-out;
}
.accordion-item-header .active::after{
    content: "\2212";
}


.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #001c3b, transparent) 1;

}




